
@{
    ViewBag.Title = "Home";
}

<h1>Administração</h1>
<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Cadastrar Paciente", "CadPaciente", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Cadastrar Especialidade", "CadEspecialidade", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Cadastrar Medico", "CadMedico", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Cadastrar Atendimento", "CadAtendimento", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Consultar Atendimento", "ConsultarAtend", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Consultar Especialidade", "ConsultarEspec", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Consultar Medico", "ConsultarMedico", "Administracao")</li>
    <li class="list-group-item">@Html.ActionLink("Consultar Paciente", "ConsultarPaciente", "Administracao")</li>
</ul>

